<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label class="mr-2" for="inputNom">Recherche par nom</label>
          <input class="form-control mr-1" id="inputNom" placeholder="Entrez un nom" #saisie>
          <input type="button" class="btn btn-primary" value="Rechercher" (click)="rechercheCollegue(saisie)" />
          <!-- <small class="ml-5">Essayez NOM1 ou NOM2</small> -->
        </div>
      </form>
    </div>
  </div>
  <div class="card mt-1" *ngFor="let mat of listeMat">
    <div class="card-body">
      <p class="card-text">{{mat}}</p>
      <a href="#" class="stretched-link" (click)="select(mat)"></a>
    </div>
  </div>
</div>
