<div class="container p-5">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="{{col.photoUrl}}">
    </div>
    <div class="col-md-8">
      <table class="table mx-5">
        <tbody>
          <tr>
            <th scope="row">Matricule</th>
            <td>{{col.matricule}}</td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td>{{col.nom}}</td>
          </tr>
          <tr>
            <th scope="row">Prénoms</th>
            <td>{{col.prenoms}}</td>
          </tr>
          <tr>
            <th scope="row">Date de Naissance</th>
            <td>{{col.dateDeNaissance}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{col.email}}</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <button type="button" class="btn btn-primary my-5" (click)="creerCollegue()">Créer un nouveau collègue</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary my-5 float-right" (click)="modifierCollegue()">Modifier</button>
    </div>
  </div>
</div>
