<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="{{col.photoUrl}}">
    </div>
    <div class="col-md-8">
      <table class="table mx-5">
        <tbody>
          <tr>
            <th scope="row">Matricule</th>
            <td>{{col.matricule}}</td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td>{{col.nom | uppercase}}</td>
          </tr>
          <tr>
            <th scope="row">Prénoms</th>
            <td>{{col.prenoms}}</td>
          </tr>
          <tr>
            <th scope="row">Date de Naissance</th>
            <td>{{col.dateDeNaissance | date}}
            </td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>
              <ng-container *ngIf="!editingOn">{{col.email}}</ng-container>
              <input type="email" class="form-control" id="inputEmail" placeholder="Entrez votre email" *ngIf="editingOn">
            </td>
          </tr>
          <tr *ngIf="editingOn">
            <th scope="row">Photo URL</th>
            <td>
              <input type="url" class="form-control" id="inputPhotoURL" placeholder="Entrez l'URL de l'image">
            </td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <button type="ngbButton" class="btn btn-primary my-5 float-left" (click)="creerCollegue()">Créer un nouveau
        collègue</button>
    </div>
    <div class="col-md-4">
      <button type="ngbButton" class="btn btn-primary my-5 float-right" (click)="modifierCollegue()" *ngIf="!editingOn">Modifier</button>
      <button type="ngbButton" class="btn btn-primary my-5 float-right" (click)="modifierCollegue()" *ngIf="editingOn">Valider</button>
    </div>
  </div>
</div>
