<div class="container-fluid p-5">
  <form #etatForm="ngForm">
    <div class="form-group row">
      <div class="col-md-4">
        <img class="img-fluid" src="{{col.photoUrl}}">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="font-weight-bold">Nom</div>
              <div>
                <input type="text" class="form-control" name="nom" [(ngModel)]="col.nom" #etatNom="ngModel"
                  placeholder="Entrez le nom" required minlength=2>
              </div>
            </div>
            <div *ngIf="etatNom.dirty && etatNom.invalid" class="float-right text-danger">Le nom est invalide.</div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="font-weight-bold">Prénoms</div>
              <div>
                <input type="text" class="form-control" name="prenoms" [(ngModel)]="col.prenoms" #etatPrenoms="ngModel"
                  placeholder="Entrez le prénom" required minlength=2>
              </div>
            </div>
            <div *ngIf="etatPrenoms.dirty && etatPrenoms.invalid" class="float-right text-danger">Le prénom est
              invalide.
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="font-weight-bold">Date de Naissance</div>
              <div>
                <input type="date" class="form-control" name="dateNaissance" [(ngModel)]="col.dateDeNaissance"
                  #etatDateNaissance="ngModel" required>
              </div>
            </div>
            <div *ngIf="etatDateNaissance.dirty && etatDateNaissance.invalid" class="float-right text-danger">La date
              est
              invalide.</div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="font-weight-bold">Email</div>
              <div>
                <input type="email" class="form-control" name="email" [(ngModel)]="col.email" #etatEmail="ngModel"
                  placeholder="Entrez l'email" required>
              </div>
            </div>
            <div *ngIf="etatEmail.dirty && etatEmail.invalid" class="float-right text-danger">L'email est invalide.
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div class="font-weight-bold">Photo URL</div>
              <div>
                <input type="url" class="form-control" name="photoUrl" [(ngModel)]="col.photoUrl" #etatUrl="ngModel"
                  placeholder="Entrez l'URL de l'image" required minlength=7>
              </div>
            </div>
            <div *ngIf="etatUrl.dirty && etatUrl.invalid" class="float-right text-danger">Le lien est invalide.
            </div>
          </li>
        </ul>
      </div>
    </div>

      <div class="form-group row">
        <div class="col-md-4 offset-md-4">
          <button type="ngbButton" class="btn btn-primary my-5" (click)="annuler()">Annuler</button>
        </div>
        <div class="col-md-4">
          <button type="ngbButton" class="btn btn-primary my-5" *ngIf="etatForm.valid"
            (click)="validerCollegue()">Valider</button>
          <button type="ngbButton" class="btn btn-secondary my-5" *ngIf="!etatForm.valid"
            disabled>Valider</button>
        </div>
      </div>
  </form>
</div>
